@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

//COLORS THEME 1
$primary-background-blue: hsl(222, 26%, 31%);
$secondary-background-blue: hsl(223, 31%, 20%);
$ternary-background-blue: hsl(224, 36%, 15%);

$key-background-blue: hsl(225, 21%, 49%);
$key-shadow-blue: hsl(224, 28%, 35%);

$key-background-red: hsl(6, 63%, 50%);
$key-background-dark-red: hsl(6, 70%, 34%);

$key-background-light-grayish: hsl(30, 25%, 89%);
$key-shadow-grayish: hsl(28, 16%, 65%);

$text-dark-grayish: hsl(221, 14%, 31%);
$text-white: hsl(0, 0%, 100%);

//COLORS THEME 2
$primary-background-light-gray: hsl(0, 0%, 90%);
$secondary-background-grayish-red: hsl(0, 5%, 81%);
$ternary-background-light-gray: hsl(0, 0%, 93%);

$key-background-cyan: hsl(185, 42%, 37%);
$key-shadow-dark-cyan: hsl(185, 58%, 25%);

$key-background-orange: hsl(25, 98%, 40%);
$key-background-dark-orange: hsl(25, 99%, 27%);

$key-background-grayish-yellow: hsl(45, 7%, 89%);
$key-shadow-grayish-orange: hsl(35, 11%, 61%);

$text-dark-grayish-yellow: hsl(60, 10%, 19%);
$text-dark: hsl(0, 0%, 10%);
$text-white: hsl(0, 0%, 100%);

//COLORS THEME 3
$primary-background-dark-violet: hsl(268, 75%, 9%);
$secondary-background-violet: hsl(268, 71%, 12%);

$key-background-violet: hsl(281, 89%, 26%);
$key-shadow-magenta: hsl(285, 91%, 52%);

$key-background-pure-cyan: hsl(176, 100%, 44%);
$key-background-soft-cyan: hsl(177, 92%, 70%);

$key-background-dark-violet: hsl(268, 47%, 21%);
$key-shadow-dark-magenta: hsl(290, 70%, 36%);

$text-light-yellow: hsl(52, 100%, 62%);
$text-dark-blue: hsl(198, 20%, 13%);
$text-white: hsl(0, 0%, 100%);

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: 'League Spartan', sans-serif;
}

.calculator {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  width: 600px;
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 8%;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    color: $text-white;
  
    .switch {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: ". number"
                           "theme selector";
      .switch-number {
        grid-area: number;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
      }
      .switch-theme {
        grid-area: theme;
        padding-right: 20px;
        line-height: 1.5;
        font-size: 12px;
        font-weight: bolder;
      }
      .switch-selector {
        grid-area: selector;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        background-color: $secondary-background-blue;
        button {
          width: 12px;
          height: 12px;
          border-radius: 100%;
          background-color: transparent;
          border: none;
        }
      }
    }
  }
  .visor {
    display: flex;
    height: 15%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    .visor-input {
      background-color: yellow;
      width: 100%;
      border: none;
      padding: 36px 18px;
      font-size: 52px;
      font-weight: 900;
      text-align: end;
      &:focus-visible {
        outline: none;
        caret-color: transparent;
      }
    }
  }
  
  .keyboard {
    display: flex;
    background-color: green;
    height: 70%;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
}

.theme-1 {
  background-color: $primary-background-blue;
  .header {
    color: $text-white;
    .switch {
      .switch-selector {
        background-color: $secondary-background-blue;
        .active{
          background-color: $key-background-red;
        }
      }
    }
  }
}

.theme-2 {
  background-color: $primary-background-light-gray;
  .header {
    color: $text-dark-grayish-yellow;
    .switch {
      .switch-selector {
        background-color: $secondary-background-grayish-red;
        .active{
          background-color: $key-background-orange;
        }
      }
    }
  }
}

.theme-3 {
  background-color: $primary-background-dark-violet;
  .header {
    color: $text-light-yellow;
    .switch {
      .switch-selector {
        background-color: $key-background-dark-violet;
        .active{
          background-color: $key-background-pure-cyan;
        }
      }
    }
  }
}

